{% extends 'blog/base1.html' %}
{% load static %}
{% block content %}
<section id="posts" class="posts-expand">
  {% for post in post_list %}
<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<link itemprop="mainEntityOfPage" href="http://notes.iissnan.com/2016/publishing-github-pages-with-travis-ci/">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="IIssNan">
<meta itemprop="description" content="">
<meta itemprop="image" content="/uploads/m3.jpg' %}>
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<header class="post-header">
<h1 class="post-title" itemprop="name headline">
<a class="post-title-link" href="{% url 'blog:detail' post.id %}" itemprop="url">
          {{post.title}}
</a>
</h1>
<div class="post-meta">
  <span class="post-time">
  <span class="post-meta-item-icon">
  <i class="fa fa-calendar-o"></i>
  </span>
  <span class="post-meta-item-text">发表于</span>
  <time title="创建于" itemprop="dateCreated datePublished" datetime="{{post.created_time}}">
        {{ post.created_time }}
  </time>
  </span>
  <span class="post-category">
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-folder-o"></i>
  </span>
  <span class="post-meta-item-text">分类于</span>
  <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
  <a href="#" itemprop="url" rel="index">
  <span itemprop="name">{{ post.category.name }}</span>
  </a>
  </span>
  </span>
  <span class="post-comments-count">
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-comment-o"></i>
  </span>
  <a href="https://notes.iissnan.com/2016/publishing-github-pages-with-travis-ci/#comments" itemprop="discussionUrl">
  <span class="post-comments-count disqus-comment-count" data-disqus-identifier="2016/publishing-github-pages-with-travis-ci/" itemprop="commentCount">{{post.comment_set.count}} 评论</span>
  </a>
  </span>
  <span>
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-eye"> &nbsp;{{ post.views }}</i>
  </span>
  <span class="post-meta-item-text"> 阅读</span>
  <span class="leancloud-visitors-count"></span>
  </span>
</div>
</header>
<div class="post-body" itemprop="articleBody">
  <p>{{post.excerpt|safe }}</p>
  <!--noindex-->
  <div class="post-button text-center">
    <a class="btn" href="{% url 'blog:detail' post.id %}" rel="contents">
      阅读全文 »
    </a>
  </div>
  <!--/noindex-->
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
{% endfor %}
<article class="post post-type-picture" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<link itemprop="mainEntityOfPage" href="http://notes.iissnan.com/2015/group-picture-test/">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="IIssNan">
<meta itemprop="description" content="">
<meta itemprop="image" content={% static 'blog/pic/m3.jpg' %}>
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<div class="post-body" itemprop="articleBody">
  <a href="https://notes.iissnan.com/2015/group-picture-test/">
  <div class="group-picture">
    <div class="group-picture-container">
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 100%;">
          <img src={% static 'blog/pic/menu-restaurant-vintage-tab.jpg' %} alt="">
        </div>
      </div>
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/esWWGbF.jpg' %} alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/ZCogT10.jpg' %} alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/24hrPQn.jpg' %} alt="">
        </div>
      </div>
    </div>
  </div>
  </a>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
</section>
{% if is_paginated %}
<nav class="pagination">
{% if first %}
<a href="?page=1" class="page-number">1</a>
{% endif %}
{% if left_has_more %}
<span class="space">…</span>
{% endif %}
{% for i in left%}
<a class="page-number" href="?page={{i}}">{{i}}</a>
{% endfor %}
<span class="page-number current">{{page_obj.number}}</span>
{% for i in right %}
<a class="page-number" href="?page={{i}}">{{i}}</a>
{% endfor %}
{% if right_has_more %}
<span class="space">…</span>
{% endif %}
{% if last %}
<a href="?page={{ paginator.num_pages }}" class="page-number">{{ paginator.num_pages }}</a>
{% endif %}
</nav>
{% endif %}
{% endblock content %}