{% extends 'blog/base1.html' %}
{% load static %}
{% load highlight %}
{% block content %}
<h1>全站搜索</h1>
<form action="{% url 'haystack_search' %}" method="GET">
<span class="search"><input type="text" name="q"  placeholder="请输入关键词"/></span>
<!--注意以上为文本框设置的placeholder属性，为文本框默认显示的文字-->
<span class="button"><input type="submit"  value="搜索" /></span>
</form>
<section id="posts" class="posts-expand">
{% if query %}
  {% for result in page.object_list %}
	
<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<link itemprop="mainEntityOfPage" href="{{ request.get_host }}{% url 'blog:detail' result.object.id %}">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="code2qing">
<meta itemprop="description" content="">
<meta itemprop="image" content={% static 'blog/pic/m3.jpg' %} %}>
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<header class="post-header">
<h1 class="post-title" itemprop="name headline">
<a class="post-title-link" href="{% url 'blog:detail' result.object.id %}" itemprop="url">
          {% highlight result.object.title with query max_length 100 %}
</a>
</h1>
<div class="post-meta">
  <span class="post-time">
  <span class="post-meta-item-icon">
  <i class="fa fa-calendar-o"></i>
  </span>
  <span class="post-meta-item-text">发表于</span>
  <time title="发表时间" itemprop="dateCreated datePublished" datetime="{{result.object.created_time}}">
        {{ result.object.created_time }}
  </time>
  </span>
  <span class="post-category">
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-folder-o"></i>
  </span>
  <span class="post-meta-item-text">分类于</span>
  <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
  <a href="{% url "blog:category" result.object.category.id %}" itemprop="url" rel="index">
  <span itemprop="name">{{ result.object.category.name }}</span>
  </a>
  </span>
  </span>
  <span class="post-comments-count">
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-comment-o"></i>
  </span>
  <a href="{% url 'blog:detail' result.object.id %}#comments" itemprop="discussionUrl">
  <span class="post-comments-count disqus-comment-count"  itemprop="commentCount">{{result.object.comment_set.count}} 评论</span>
  </a>
  </span>
  <span>
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-eye"> &nbsp;{{ result.object.views }}</i>
  </span>
  <span class="post-meta-item-text"> 阅读</span>
  <span class="leancloud-visitors-count"></span>
  </span>
</div>
</header>
<div class="post-body" itemprop="articleBody">
  <p>{% highlight result.object.body with query max_length 300 %}</p>
  <!--noindex-->
  <div class="post-button text-center">
    <a class="btn" href="{% url 'blog:detail' result.object.id %}" rel="contents">
      阅读全文 »
    </a>
  </div>
  <!--/noindex-->
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
{% empty %}
<p>未找到你要的结果！</p>
{% endfor %}
{% if page.has_previous or page.has_next %}
<p><div>
{% if page.has_previous %}
    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
{% if page.has_previous %}</a>{% endif %}
|
{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
&raquo;{% if page.has_next %}</a>{% endif %}
</div>
</p>
{% endif %}
<article class="post post-type-picture" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="Code2qing">
<meta itemprop="description" content="">
<meta itemprop="image" content={% static 'blog/pic/m3.jpg' %}>
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<div class="post-body" itemprop="articleBody">
  <a href="#">
  <div class="group-picture">
    <div class="group-picture-container">
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 100%;">
          <img src={% static 'blog/pic/menu-restaurant-vintage-tab.jpg' %} alt="">
        </div>
      </div>
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/esWWGbF.jpg' %} alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/ZCogT10.jpg' %} alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src={% static 'blog/pic/24hrPQn.jpg' %} alt="">
        </div>
      </div>
    </div>
  </div>
  </a>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
</section>
{% else %}
请输入关键词，例如 django
{% endif %}
{% endblock content %}